@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: "IRANSans";
    src: url("../fonts/IranSansX Pro/Farsi numerals/Webfonts/fonts/Woff2/IRANSansXFaNum-Regular.woff2")
      format("woff2");
  }
  @font-face {
    font-family: "PelakFA";
    src: url("../fonts/PELAK-Economic/Farsi Numeral/webfonts/woff2/PelakFA-Regular.woff2")
      format("woff2");
  }
}
html {
  font-size: 10px;
}
@media (min-width: 500px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 20px;
  }
}
div.steps:not(.without):after {
  content: " ";
  position: absolute;
  width: 1px;
  height: 100%;
  top: 1.6rem;
  background: repeating-linear-gradient(
    to bottom,
    #888,
    #888 10px,
    transparent 5px,
    transparent 16px
  );
  left: 50%;
  transform: translateX(-50%);
}
li.activated {
  background-color: rgb(254 243 199);
  border-radius: 2rem;
  padding: 1rem 0.75rem;
}
input::placeholder {
  text-align: right;
}

.custom-range {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 0.5rem;
  background: #e66a17; /* Light background track */
  border-radius: 0.3125rem;
  outline: none;
  border: none;
}
.custom-range::-webkit-slider-runnable-track {
  height: 0.5rem;
  border-radius: 0.3125rem;
  background: linear-gradient(to right, #e66a17 50%, #fdf8eb 50%);
}
.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remove default thumb */
  appearance: none;
  width: 2.5rem; /* Thumb size */
  height: 2.5rem;
  background: url("../images/Progress-Indicator.svg") no-repeat center center;
  background-size: contain; /* Ensure image fits the thumb */
  cursor: pointer; /* Ensure thumb is draggable */
  margin-top: -1rem; /* Align thumb vertically with track */
}
.custom-range::-moz-range-thumb {
  width: 2.5rem;
  height: 2.5rem;
  background: url("../images/Progress-Indicator.svg") no-repeat center center;
  background-size: contain; /* Ensures the image scales */
  border: none;
  cursor: pointer;
}
.custom-range::-moz-range-track {
  height: 0.5rem;
  background: #e66a17;
  border-radius: 5px;
}
.gradient-border {
  background: radial-gradient(circle, white 50%, transparent 50%),
    conic-gradient(#e66a17, white);
  /* conic-gradient(from 90deg, #f97316, #ffffff) 20% */
}
.spinner {
  border-radius: 50%;
  background: radial-gradient(circle, white 50%, transparent 50%),
    conic-gradient(from 0deg, white, #e66a17);
  position: relative;
}
.spinner::before {
  content: "";
  position: absolute;
  width: 0.55rem;
  height: 0.55rem;
  top: 7%;
  left: 50%;
  background-color: #e66a17;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
